# Defining the exact version will make sure things don't break
# LS on 2025-06-30: specifying versions succesfully used on 2026-06-05, according to line 331 in log at:
# https://github.com/UPPMAX/R-matlab-julia-HPC/actions/runs/15466742802/job/43540505174#step:5:332
#python==3.11.8
myst_nb==1.2.0
readthedocs-sphinx-search==0.3.2
sphinx==7.4.7
sphinx_rtd_theme==3.0.2
sphinx_rtd_theme_ext_color_contrast==0.3.2
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-lesson==0.8.19
sphinx-prompt==1.8.0
sphinxcontrib-mermaid==1.0.0
sphinxcontrib-plantuml==0.30
sphinxemoji==0.3.1
